<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div id="signinButton">
                <span class="g-signin"
                  data-scope="openid email"
                  data-clientid="96870370676-n99792me4gr9pjt1klna6thfpipfkr7n.apps.googleusercontent.com"
                  data-redirecturi="postmessage"
                  data-accesstype="offline"
                  data-cookiepolicy="single_host_origin"
                  data-callback="signInCallback"
                  data-approvalprompt="force">
                </span>
              </div>
            </div>
            <div class="col-md-6 py-1 facebook-login">
              <fb:login-button data-size="large" scope="public_profile,email" onlogin="sendTokenToServer();">
                <a href='javascript:sendTokenToServer()'>Sign in</a>
              </fb:login-button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <div id="result"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      <script type="text/javascript">
        let state = '{{STATE}}';
        let page = '{{page}}'
      </script>
      <script type="text/javascript" src="{{ url_for('static', filename='glogin.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='fblogin.js') }}"></script>
    </div>
  </div>
</div>
